.button-icon {
    padding: 10px;
    border: 2px solid var(--purple);
    border-radius: 4px;
    background: var(--white);
    outline: none;
    text-decoration: none;
    display: inline-block;
  }
  
  .button-icon img {
    vertical-align: middle;
  }
