.card-comment{
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(40px);
    margin-block-start: 40px;
    margin-block-end: 80px;
    padding: 24px;
    font: var(--testimony);
    border-radius: 24px;
    box-shadow: 1px 1px 3px white inset;
}
.card-comment p{
    text-align: start;
}
.card-comment p:last-child{
    font: var(--caption);
}

@media screen and (min-width: 768px){
    .card-comment{
        margin-block-start: 80px;
        padding: 80px;
    }
    .card-comment p{
        text-align: center;
        font: var(--message);
        font-weight: bold;
    }
    .card-comment p:last-child{
        font: var(--headline5);
        opacity: 0.5;
    }
}